:root{
    --color1: hsl(215, 51%, 70%);
    --color2: hsl(178, 100%, 50%);
    --color3: hsl(217, 54%, 11%);
    --color4: hsl(216, 50%, 16%);
    --color5: hsl(215, 32%, 27%);
    --color6: hsl(0, 0%, 100%);
    --family: 'Outfit', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color3);
    font-family: var(--family);
    color: var(--color6);

    width: 100%;
    min-height: 100vh;
    padding: 5em 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: columN
}

/* NFT */
.container__nft{
    width: 90%;
    max-width: 405px;
    height: 700px;

    padding: 1.9em;
    border-radius: 22px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--color4);
}

.container__nft__img{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 55%;

    border-radius: 13px;
    overflow: hidden;
}

.container__nft__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.container__nft__info{
    width: 100%;
    height: 100%;

    padding: 0 .2em;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 45%;
}

.container__nft__info hr{
    width: 100%;
    height: .2em;
    margin: 1.5em 0;
    border: none;

    background-color: var(--color5);
}

.container__nft__info__main{
    margin-top: 2.2em;
}

.container__nft__info__main h1{
    cursor: pointer;
    transition: .3s ease color;
}

.container__nft__info__main h1:hover{
    color: var(--color2);
}

.container__nft__info__main p{
    font-size: 18px;
    line-height: 1.7em;
    color: var(--color1);
    
    margin-top: 1em;
}

.container__nft__info__items{
    width: 100%;
    height: auto;

    margin-top: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;

    color: var(--color2);
}

.item__date{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;

    color: var(--color1);
}

.container__nft__info__footer{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
}

.container__nft__info__footer p{
    font-size: 18px;
    color: var(--color1);
}

.container__nft__info__footer p span{
    color: var(--color6);
    cursor: pointer;
    transition: .3s ease color;
}

.container__nft__info__footer p span:hover{
    color: var(--color2);
}

.container__nft__info__footer img{
    width: 3em;
    height: 3em;
    object-fit: cover;

    border: 2px solid var(--color6);
    border-radius: 50%;
}
/* End NFT */

@media only screen and (min-width: 1440px){
    body{
        background-color: aqua;
    }
}