:root{
    --color1: hsl(215, 51%, 70%);
    --color2: hsl(178, 100%, 50%);
    --color3: hsl(217, 54%, 11%);
    --color4: hsl(216, 50%, 16%);
    --color5: hsl(215, 32%, 27%);
    --color6: hsl(0, 0%, 100%);
    --family: 'Outfit', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 6em 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--color3);
    font-family: var(--family);
    color: var(--color6);
}

/* NFT */
.container__nft{
    width: 92%;
    max-width: 390px;
    height: auto;

    padding: 1.2em;
    border-radius: 1em;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--color4);
}

.container__nft__img{
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 55%;

    border-radius: 13px;
    overflow: hidden;
    position: relative;
}

.container__nft__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    position: relative;
}

.layer{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    position: absolute;
    opacity: 0;
    cursor: pointer;
    transition: .5s ease opacity;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsla(178, 100%, 50%, 0.562);
}

.layer:hover{
    opacity: 1;
}

.layer img{
    width: 4em;
    height: 4em;
}

.container__nft__info{
    width: 100%;
    height: 100%;

    padding: 0 .2em;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 45%;
}

.container__nft__info hr{
    width: 100%;
    height: .1em;
    border: none;
    margin-bottom: 1em;

    background-color: var(--color5);
}

.container__nft__info__main{
    margin-top: 2.2em;
}

.container__nft__info__main h1{
    cursor: pointer;
    transition: .5s ease color;
    font-size: 24px;
    margin-bottom: .7em;
}

.container__nft__info__main h1:hover{
    color: var(--color2);
}

.container__nft__info__main p{
    font-size: 18px;
    line-height: 1.7em;
    color: var(--color1);
}

.container__nft__info__items{
    width: 100%;
    height: auto;

    margin: 1em 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;

    color: var(--color2);
}

.item__price h2{
    font-size: 18px;
}

.item__date{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;

    color: var(--color1);
}

.item__date h2{
    font-size: 18px;
}

.container__nft__info__footer{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    margin: .5em 0;
}

.container__nft__info__footer p{
    font-size: 18px;
    color: var(--color1);
}

.container__nft__info__footer p span{
    color: var(--color6);
    cursor: pointer;
    transition: .5s ease color;
}

.container__nft__info__footer p span:hover{
    color: var(--color2);
}

.container__nft__info__footer img{
    width: 2.7em;
    height: 2.7em;
    object-fit: cover;

    border: 2px solid var(--color6);
    border-radius: 50%;
}
/* End NFT */

/* Media Query For Tablet and Desktop */
@media only screen and (min-width: 768px){
    .container__nft{
        padding: 1.5em;
        box-shadow: 0 20px 25px rgba(13, 25, 43, 0.800);
    }
}
/* End Media Query For Tablet and Desktop */